@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to WebApp2ByAmrit</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <div class="mt-4">
        <a asp-controller="Student" asp-action="MyRazorPage" class="btn btn-primary">View My Razor Page</a>
        <a asp-controller="Student" asp-action="Create" class="btn btn-success">Create Student Record</a>
    </div>
</div> 